spring:
  application:
    name: academy-management

  profiles:
    active: elementary

  datasource:
    url: jdbc:h2:mem:academydb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

logging:
  level:
    com.academy: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

server:
  port: 8080

# Swagger (SpringDoc OpenAPI) 설정
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
    display-request-duration: true
  show-actuator: false
